/* ======================================= */
/* 1. Variables y Estilos Globales         */
/* ======================================= */

:root {
    --color-background: #000;
    --color-text-primary: #fff;
    /* --color-dark-green: #1F7D53; */
    /* --color-dark-green: #269d68; */
    --color-dark-green: #27b776;
    --color-dark-blue: #00334d;
    --transition-speed: 0.3s ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

.portfolio-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Títulos */
.contenedorTitle {
    text-align: center;
    margin-bottom: 30px;
    /* outline:1px solid; */
}

h2 {
    color: var(--color-dark-green);
    text-align: center;
    font-size: 2em;
    display: inline-block;
    position: relative; 
}

h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: var(--color-dark-green);
    transition: width 0.4s ease-out;
}


h2:hover::after {
    width: 100%;
}

.section {
    padding: 40px 20px;
    margin-bottom: 20px;
}

/* ======================================= */
/* 2. Header                               */
/* ======================================= */

.header-section {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.profile-photo {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.photo{
    overflow: hidden;
}

.photo-placeholder {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-dark-green);
    opacity: 0.7;
}

.profile-info{
    width: 50%;
}

.profile-info h1 {
    font-size: 3em;
    margin: 10px 0;
}

.profile-info p {
    margin: 5px 0;
    margin-left: auto;
    margin-right: auto;
}

.description {
    font-size: 1.1em;
    color: #ccc;
    margin-bottom: 20px !important;
}

/* Botones */
.neon-button {
    display: inline-block;
    padding: 10px 25px;
    margin-top: 20px;
    color: white;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: var(--transition-speed);
    background-color: #1F7D53;
}

.neon-button:hover {
    background-color: #255F38;
}


/* ======================================= */
/* 3. Tecnologías                          */
/* ======================================= */

.technologies-section {
    overflow: hidden;
}

.tech-carousel-container {
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.tech-carousel-track {
    display: flex;
    animation: scroll-tech 30s linear infinite; 
    width: max-content;
}

.tech-logo-item {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 150px;
    height: 100px;
}

.tech-logo {
    width: 60px;
    height: 60px;
    filter: grayscale(100%) brightness(80%);
    transition: filter var(--transition-speed), transform var(--transition-speed);
    /* opacity: 0.6; */
}

.tech-logo:hover {
    filter: none;
    transform: scale(1.1);
    /* opacity: 1; */
    cursor: pointer;
}

/* Animación */
@keyframes scroll-tech {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-150px * 12));
    }
}

/* ======================================= */
/* 4. Listados Simples                     */
/* ======================================= */

.enlaces_documentos{
    font-style: none;
    text-decoration: none;
    color: inherit;
}

.info-list {
    list-style: none;
    padding-left: 20px;
    position: relative;
}

.info-list::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    width: 2px;
    height: 100%;
    background: var(--color-dark-green);
}

.list-item {
    margin-bottom: 30px;
    padding-left: 30px;
    position: relative;
}

.list-item::before {
    content: '';
    position: absolute;
    left: 6px;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color-dark-green);
    z-index: 2;
}

.institution {
    color: #aaa;
    font-size: 0.9em;
}


/* ======================================= */
/* 5. Certificaciones                      */
/* ======================================= */

.certifications-section {
    text-align: center;
}

.carousel-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.carousel-arrow {
    background: transparent;
    border: none;
    color: var(--color-dark-green);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
    transition: var(--transition-speed);
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.carousel-arrow:hover {
    background-color: var(--color-dark-green);
    color: var(--color-background);
}

.certificate-item-wrapper {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    border: var(--border-neon);
    border-radius: 5px;
}

.certificate-item {
    width: 100%;
    height: 100%;
    transition: transform var(--transition-speed);
}

.cert-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
    transition: filter var(--transition-speed);
}

.cert-image:hover {
    filter: brightness(1);
}

.carousel-dots {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #555;
    cursor: pointer;
    transition: background-color var(--transition-speed), box-shadow var(--transition-speed);
}

.dot.active {
    background-color: var(--color-dark-green);
    box-shadow: var(--shadow-light);
}


/* ======================================= */
/* 6. Proyectos                            */
/* ======================================= */

.projects-section {
    text-align: center;
}

.project-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    
}

.project-link{
    width: 4rem;
    height: 4rem;
}

.images_projects{
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    .header-section {
        padding-top: 100px;
        padding-bottom: 100px;
        text-align: center;
    }
    .profile-container {
        flex-direction: row;
        text-align: left;
        max-width: 900px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .profile-info {
        text-align: left; 
    }

    .profile-info h1 {
        margin-top: 0;
    }
    
    .profile-photo {
        margin-right: 40px;
    }
    
    .carousel-item-wrapper {
        width: 500px;
        height: 350px;
    }
}

@media (max-width: 600px) {

    .profile-info h1 {
        font-size: 2em;
    }
    
    .tech-logo-item {
        width: 120px;
        padding: 0 15px;
    }
    
    @keyframes scroll-tech {
        100% {
            transform: translateX(calc(-120px * 14));
        }
    }

    .certificate-item-wrapper {
        width: 300px;
        height: 225px;
    }
}